.header_wbw{
    position: relative;
}

.header_wbw_tekst{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 5rem;
    color: #aa0000;
}

.header_logo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%;
    top: 20vh;
}

.header_logo a{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 60vh;
}

.knop{
    font-size: 2rem;
    background-color: #aa0000;
    border-color: #bb0000;
}

.knop:hover{
    background-color: #990000;
    border-color: #aa0000;
}

.header_logo img{
    width: 30vh;
}

.header_img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.block1{
    background-color: #aa0000;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
}

.block2{
    background-color: #2c2c2c;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    text-align: center;
}

#standpunten h2{
    font-size: 2rem;
    text-align: center;
}

#standpunten ul{
    font-size: 1.5rem;
    list-style-image: url('../img/logo_wit.svg');
}

hr:not([size]){
    height: 3px;
}

.discord{
    background-color: #7289DA;
    border-color: #aebbea;
}

.discord:hover{
    background-color: #5e77d4;
    border-color: #aebbea;
}

.twitter{
    background-color: #1DA1F2;
    border-color: #6ec2f7;
}

.twitter:hover{
    background-color: #0d8bd9;
    border-color: #6ec2f7;
}

.socials{
    font-size: 1.5rem;
}

.intro1{
    font-size: 1.25rem;
}

.intro2{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.container{
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.footer{
    padding-top: 0;
    padding-bottom: 0;
}